In [1]:
ss = "hello world"
xx = 34
yy = 1.267

In [2]:
ss.capitalize()

'Hello world'

In [3]:
type(ss)

str

In [4]:
type(xx)

int

In [5]:
type(yy)

float

In [6]:
zz = 34.0

In [7]:
type(zz)

float

In [8]:
mm  = zz + xx

In [9]:
type(mm)

float

In [10]:
zz = 34.

In [11]:
type(zz)

float

In [12]:
float(xx)

34.0

In [13]:
int(xx)

34

In [15]:
ss = "this is my string"

In [16]:
ss.title()

'This Is My String'

In [23]:
ss.count("i")

3

In [25]:
ss.replace("t", "T")

'This is my sTring'

In [26]:
list1 = ["this", "is", "a", "list"]

In [30]:
list1.index("is")

1

In [31]:
species = "Hesperocyon somedoggus"

In [32]:
species.split()

['Hesperocyon', 'somedoggus']

In [33]:
species.split()[1]

'somedoggus'

In [36]:
species.split("o")

['Hesper', 'cy', 'n s', 'med', 'ggus']

In [38]:
this = "this"

In [67]:
if(this in list1):
    print("this is in list1")
else:
    print("no")

this is in list1

In [41]:
" ".join(list1)

'this is a list'

In [43]:
s = "WHEN on borad H.M.S. Beagle, as naturalist"

In [44]:
s.count("b")

1

In [49]:
s.count("B") + s.count("b")

2

In [50]:
s.replace("WHEN", "when")

'when on borad H.M.S. Beagle, as naturalist'

In [51]:
s.upper().count("B")

2

In [52]:
"this" in list1

True